# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# SQLite Database
*.db
*.sqlite3

# Environment variables
.env

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
